---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Services from "../components/Services.astro";
import PaymentOptions from '../components/PaymentOptions.astro';

---

<Layout title="Welcome to Astro." >
	<div class="" >
		<Navbar client:load/>
		<Hero/>
		<PaymentOptions class:list={' scroll-start'}/>
		<Services/>
	</div>
	
</Layout>


