---
import Layout from "../layouts/Layout.astro";
import backBtn from "../assets/btn_back.svg?url"
import ham from "../assets/btn_ham.svg?url"
import more_arrow from "../assets/more_arrow.svg?url"

---

<Layout title="Creacion de sitio web" >

	<div class="h-screen w-screen bg-secondary_bg bg-cover overflow-auto overflow-x-hidden" >
        <div class="w-full flex justify-between px-[3em] py-[2em] fixed">
            <button class=""><a href="/#services"><img src={backBtn} alt=""></a>
            <button><img src={ham} alt=""></button>
        </div>

        <div class="h-screen">
            <div class="text-white font-[800] tracking-widest text-xl w-screen flex-row justify-center items-center text-center p-[3em] ">
                <h1 class="">CREACION DE SITIO WEB</h1>
                <div class="h-[4px] w-[40px] bg-white rounded-lg mx-auto mt-4 duration-75 ease-in hover:w-[40px]"></div>
            </div>
    
            <div class=" w-full flex justify-around mt-[15em]">
                <div>
                    <h2 class="text-light_gray font-[700] text-2xl max-w-lg">
                        Te ayudamos a establecer una presencia online <span class="text-white">única y efectiva.</span></h2>
                    <h2 class="text-light_gray font-[700] text-2xl max-w-lg mt-4">
                        Nuestros sitios web están <span class="text-white">diseñados desde cero</span> para reflejar <span class="text-white">tu marca y tu visión.</span></h2>
                </div>
    
                <div>h</div>
            </div>
            
           
        </div>
        

        
            <div class="h-[180vh] flex justify-around items-start pt-[10em]">
                <div class="sticky top-[45%]">
                    <h1 class=" text-light_gray font-[700] text-4xl max-w-lg">
                        Elegi el plan que más se <span class="text-white">adapate</span> a tus <span class="text-white">necesidades</span></h1>
                </div> 

                <div class="">

                    <div class="h-[50vh]">
                        <div class="min-h-fit w-[402px]  bg-white bg-opacity-[4%] rounded-3xl border-white border-[1px] border-opacity-[4%] ">
                            <div class="flex-col items-center py-14 px-16 min-w-fit">
                                <h2 class=" text-white font-extrabold text-center tracking-[3px]">PLAN STARTUP</h2>
                                <h4 class="text-[10px] text-custom-purple font-medium text-center tracking-wide mt-1">5900 UYU</h4>
                        
                                <p class=" font-['Inter'] text-light_gray text-[10px] mt-[3em] leading-loose">Destinado hacia quienes buscan su primer sitio web, directo sin mucha extensión.</p>
                                <a class=" self p-[1em] block text-white text-center rounded-lg mt-8 bg-[#E9C1FF] bg-opacity-[27%] text-[10px]"> Mas informacion</a>
                            </div>
                        </div>
                    </div>

                    <div class="h-[50vh]">
                        <div class="min-h-fit w-[402px]  bg-white bg-opacity-[4%] rounded-3xl border-white border-[1px] border-opacity-[4%]">
                            <div class="flex-col items-center py-14 px-16 min-w-fit">
                                <h2 class=" text-white font-extrabold text-center tracking-[3px]">PLAN STARTUP</h2>
                                <h4 class="text-[10px] text-custom-purple font-medium text-center tracking-wide mt-1">5900 UYU</h4>
                        
                                <p class=" font-['Inter'] text-light_gray text-[10px] mt-[3em] leading-loose">Destinado hacia quienes buscan su primer sitio web, directo sin mucha extensión.</p>
                                <a class=" self p-[1em] block text-white text-center rounded-lg mt-8 bg-[#E9C1FF] bg-opacity-[27%] text-[10px]"> Mas informacion</a>
                            </div>
                        </div>
                    </div>

                    <div class="h-[50vh]">
                        <div class="min-h-fit w-[402px]  bg-white bg-opacity-[4%] rounded-3xl border-white border-[1px] border-opacity-[4%]">
                            <div class="flex-col items-center py-14 px-16 min-w-fit">
                                <h2 class=" text-white font-extrabold text-center tracking-[3px]">PLAN STARTUP</h2>
                                <h4 class="text-[10px] text-custom-purple font-medium text-center tracking-wide mt-1">5900 UYU</h4>
                        
                                <p class=" font-['Inter'] text-light_gray text-[10px] mt-[3em] leading-loose">Destinado hacia quienes buscan su primer sitio web, directo sin mucha extensión.</p>
                                <a class=" self p-[1em] block text-white text-center rounded-lg mt-8 bg-[#E9C1FF] bg-opacity-[27%] text-[10px]"> Mas informacion</a>
                            </div>
                        </div>
                    </div>

                </div>
                
            </div>
            
            

        
      
        
    


	</div>

	

    

 
	
</Layout>


