
    

<form class="p-[2.5em] bg-white rounded-2xl shadow-black shadow-2xl w-[600px]"
  action="https://formspree.io/f/xkgplzdg"
  method="POST">

  <div class="p-[2em] flex flex-col justify-start items-start ">
    <div class="mb-[3em]">
        <h1 class=" font-extrabold text-3xl mb-[0.5em]">Contactanos</h1>
        <p class="text-[15px]">Despeja todas tus dudas sin compromiso, </p>
    </div>

    <div class="text-sm font-sans flex flex-col justify-start items-start gap-4 p-2 w-full">
            <label class="flex flex-col justify-center items-start w-full mb-[1em] ">
            Email:
            <input class="text-gray-500 outline-none p-1 border-gray-900 border-b-[1px] w-full" type="email" name="email">
            </label>
    
            <label class="flex flex-col justify-center items-start gap-2 w-full">
            Contanos un poco mas de tu proyecto:
            <textarea  class=" bg-opacity-0 outline-none w-full p-1 border-gray-900 border-b-[1px]" name="message"></textarea>
            </label>

            <button class="mt-[4em] rounded-lg p-4 w-full bg-black text-white" type="submit">Enviar</button>
    </div>
  </div>
        
</form>

