---
const { href, title, body } = Astro.props;
import nextdev from "../assets/nextdev_logo.svg?url"
---
<nav class="absolute bg-gradient-to-b from-black to-transparent h-[6em] w-screen pt-8 z-10 ">
	<div id="navbar" class="flex justify-center translate-y-[-200px] opacity-0 transition-all ease-out duration-500 delay-300">
        <a href="/"><img class=" w-[250px] sm:w-[400px]" src={nextdev} alt=""></a>
    </div>
</nav>